1
nav.navbar {
    border: 3px black solid;
    border-bottom-color: #B30713;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
}

nav {
    height: 80px;
    color: white;
    text-align: center;
    box-shadow: 1px 1px 12px white;
    margin-left: 0px;
    line-height: 80px;
    font-size: 20px;
    font-family: splatoon;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

#m1 {
    border: 3px black solid;
    border-color: #ED2BC3;
    padding: 4px;

}

#m2 {
    border: 3px solid black;
    border-color: #1FFED8;
    padding: 4px;
}

#m3 {
    border: 3px black solid;
    border-color: #FFFF00;
    padding: 4px;
}

#m4 {
    border: 3px black solid;
    border-color: #00FF00;
    padding: 4px;
}

body {
    background-color: #B7B7B7;
    background-attachment: fixed;

}

#navtext a {
    transition: .3s;
    color: white;
}

.img-thumbnail {
    border-color: black;
    box-shadow: 1px 1px 12px #000000;
}

.images_moyen {
    height: 110px;
    float: left;
}

#barre_haut {
    padding-top : 60px;
    border-top: 3px solid black;
}

#barre_2 {
    padding-bottom : 30px;
    border-bottom: 3px solid black;
    padding-right: 60px;
    border-right: 3px solid black;
}

#barre_bas {
    padding-bottom : 30px;
    border-bottom: 3px solid black;
}

.float {
    float: none;
    display: block;
    margin : 0 auto;
}

.mesure {
    display: block;
    margin : 0 auto;
    width: 320px;
}


.images_minuscule {
    width: 35px;
    height: 35px;
}

.active {
    background-color: #FF9612;
}

.images_petit {
    witdh: 100px;
    height: 100px;
    float: left;
}

.images_grand {
    with: 373px;
    height: 210px;
    float: left;
    border: 3px black solid;
    border-radius: 5px;
}

#fond_transparent {
    padding-top: 25px;
    padding-left: 20px;
    background-color: rgba(0, 0, 000, 0.7);;
}

#fond_lorraine {
    border: 5px black solid;
    border-top-color: #4AB342;
    background-color: #26312F;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left-color: #26312F;
    border-bottom-color: #26312F;
    border-right-color: #26312F;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    box-shadow: 1px 1px 12px #000000;
}

#fond_noir {
    background-color: black;
}

#contour_blanc {

    border: white 5px solid;
    border-radius: 5px;
}

#navtext a:hover {
    color: #FF9612;
    transition: .3s;
}

#navtitre a {
    transition: .3s;
    color: white;
}

#navtitre a {
    color: white;
}

#navtitre a:hover {
    color: #FF9612;
    transition: .3s;
}

.well {
    text-align: left;
}

h3 {
    text-align: center;
    font-family: splatoon;
    padding-bottom: 20px;
}

.sureleve {

}

.barre_vert {
    padding-right: 60px;
    border-right: 3px solid black;
}

.ombreint {
    background-color:#B7B7B7;
    border:1px solid gray;
    padding:5px;
    box-shadow:2px 2px 10px gray inset;
    -moz-box-shadow:2px 2px 10px gray inset;
    -webkit-box-shadow:2px 2px 10px gray inset;
}


h2 {
    text-align: left;
    font-family: splatoon;
    padding-bottom: 20px;
}

#debut {
    margin-top: 120px;
}

.sureleve {
    box-shadow: 1px 1px 8px white;
    padding-bottom: 2px;
    padding-top: 10px;
    margin-right : 75px;
    margin-left: 75px;
    background-color: white;
    border: none;
    border-radius: 10px;
}

.sureleve2 {
    box-shadow: 1px 1px 8px white;
    padding-bottom: 2px;
    padding-top: 10px;
    margin-right : 75px;
    margin-left: 125px;
    background-color: white;
    border: none;
    border-radius: 10px;
}

.ombre {
    box-shadow: 1px 1px 12px #000000;
}

#wrapper {
    box-shadow: 1px 1px 12px #000000;
    margin-top: 40px;
}

#wrapper2 {
    box-shadow: 1px 1px 12px #000000;
    margin-top: 40px;
    background-image: url("../images/fond_noir.png");
    background-repeat: repeat-y;
    height: 100%;
    float: left;
}

iframe {
    border: 3px black solid;
    border-radius: 5px;
}

@font-face {
    font-family: 'splatoon';
    src: url('../Police/project_paintball_beta_3_by_japanyoshi-d93slk4-webfont.eot');
    src: url('../Police/project_paintball_beta_3_by_japanyoshi-d93slk4-webfont.eot?#iefix') format('embedded-opentype'),
    url('../Police/project_paintball_beta_3_by_japanyoshi-d93slk4-webfont.woff2') format('woff2'),
    url('../Police/project_paintball_beta_3_by_japanyoshi-d93slk4-webfont.svg#project_paintballdisplay') format('svg');
    font-weight: normal;
    font-style: normal;
}

#ecriture_blanc {
    color: white;
    padding-bottom: 20px;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

p {
    padding-top: 10px;
    text-align: center;
}

@font-face {
    font-family: 'mario';
    src: url('../Police/new_super_mario_font_u-webfont.eot');
    src: url('../Police/new_super_mario_font_u-webfont.eot?#iefix') format('embedded-opentype'),
    url('../Police/new_super_mario_font_u-webfont.woff2') format('woff2'),
    url('../Police/new_super_mario_font_u-webfont.svg#project_paintballdisplay') format('svg');
    font-weight: normal;
    font-style: normal;

}