#image_Ecran{
    background: url("../img/la_haut.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section{
    color:white;
}

.navbar{

}

#sectitre{
    text-align: center;

}

#titre{
    text-align: center;
}

.ins{
    margin-top:15px;
    font-weight: 800;
}

input{
    border: lightgray solid 2px;
}



/**** HOME *****/

.serie{
    display: inline-block;
    margin: 5px;
}

.serie:hover{
    opacity: 0.6;
}