#image_Ecran{
    background: url("../img/la_haut.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image:url('../img/la_haut.jpg');
    background-size: cover;
    margin: 0;
}

.section{
    color:white;
}

.navbar{
    width: 100%;
    border-bottom: solid 4px white;
    box-shadow: 1px 1px 12px black;
    height: 20px;
    z-index: 999;
}

#sectitre{
    text-align: center;

}

.ins{
    margin-top:15px;
    font-weight: 800;
}

input{
    border: lightgray solid 2px;
}


.footer {
    background-color: rgba(0, 0, 255, 0.5);
}

#titre {
    margin-top: 30%;
    color: white;
    border: 5px solid #fff;
    padding: 5px;
}

#titre2 {
    margin-top: 80px;
    color: white;
    margin-left: 20px;
    padding: 5px;
}

form {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
}

.block {
    margin-left: 10%;
    box-shadow: 1px 1px 12px white;
    text-align: center;
    margin-top: 5%;
    background-color : rgba(255, 255, 255,0.7);
    border: black solid 3px;
    border-radius: 10px;
    color:black;
}

h3 {
    color:white;
}

#titre:hover {
    border: 5px solid orange;
}

.saut_ligne {
    margin-top: 15%;
}


/**** HOME *****/

.serie{
    display: inline-block;
    margin: 5px;
}

.serie:hover {
    opacity: 0.6;
}



.labelserie{
text-align:justify;
font-weight:600;
font-size:18px;
}

.ficheserie{
font-weight:200;
font-size:15px;
}

.ficheblock{
border:black solid 5px;
background:url('../img/back.jpg') no-repeat center center fixed;
}

.ficheblock img{
width:250px;
display: block;
margin-left: auto;
margin-right: auto;
}

.ficheblock h1{
text-align:center;
color:#1d2a4f;
}