#image_Ecran{
    background: url("../img/la_haut.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image:url('../img/la_haut.jpg');
    background-size: cover;
    margin: 0;
}

#image_Ecran2{
    background: url("../img/blur.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image:url('../img/blur.jpg');
    background-size: cover;
    margin: 0;
}

.section{
    color:white;
}


.navbar{
    width: 100%;
    border-bottom: solid 4px white;
    box-shadow: 1px 1px 12px black;
    height: 20px;
    z-index: 999;
}

.nav2 {
    width: 100%;
    border-bottom: solid 4px white;
    box-shadow: 1px 1px 12px white;
    height: 20px;
    z-index: 999;
}


#sectitre{
    text-align: center;

}

.ins{
    margin-top:15px;
    font-weight: 800;
}

.afficher {
    margin-bottom: 20px;
}

.afficher:focus {
    border: orange 2px solid;
}

input{
    border: lightgray solid 2px;
}


.footer {
    background-color: rgba(0, 0, 255, 0.5);
}

#profil {
    border: solid black 2px;
    width : 75px;
    padding: 1px;
}

#profil2 {
    border: solid black 2px;
    width : 275px;
    padding: 1px;
}

#titre {
    margin-top: 30%;
    color: white;
    border: 5px solid #fff;
    padding: 5px;
}

#titre2 {
    margin-top: 80px;
    color: white;
    margin-left: 20px;
    padding: 5px;
}

.invisible {
    display: none;
}

label {
    color: white;
}


#titre3 {
    margin-top: 80px;
    color: white;
    margin-left: 20px;
    padding: 5px;
}

form {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
}

.block3 {
    box-shadow: 1px 1px 12px white;
    background-color : rgba(255, 255, 255,0.7);
    border: black solid 3px;
    border-radius: 10px;
    color:black;
    height: 110px;
}

.text {
    font-size: 10px;
    margin: 0px;
}


.block {
    margin-left: 10%;
    box-shadow: 1px 1px 12px white;
    text-align: center;
    margin-top: 10%;
    background-color : rgba(255, 255, 255,0.7);
    border: black solid 3px;
    border-radius: 10px;
    color:black;
}


.well {
    text-align: justify;
    box-shadow: 1px 1px 12px black;
    overflow: hidden;
}

.resume {

}

.miniimage {
    float: right;
    margin: 5px;
    height:120px;
    box-shadow: 1px 1px 12px white;
    border: black solid 3px;
    border-radius: 10px;
}

.block2 {
    margin-left: 10%;
    box-shadow: 1px 1px 12px white;
    margin-top: 5%;
    background-color : rgba(255, 255, 255,0.7);
    border: black solid 3px;
    border-radius: 10px;
    color:black;
    clear:both;
    float: left;
}

h3 {
    color:white;
}

#titre:hover {
    border: 5px solid orange;
}

.saut_ligne {
    margin-top: 120px;
}

.saut_ligne2 {
    margin-top: 75px;
}


/**** HOME *****/

.serie{
    display: inline-block;
    margin: 5px;
	font-size:65%;
}

.serie:hover {
    opacity: 0.6;
}

.separation {
    color: black;
    border-left: solid black 4px;
    box-shadow: 1px 1px 12px white;
}

a {
    color: white;
}

a:hover {
    color: white;
}

.labelserie{
text-align:justify;
font-weight:600;
font-size:18px;
    margin-top: 50px;
}

.overflow {
    overflow: hidden;
}

.ficheserie{
font-weight:200;
font-size:15px;
}

.ficheblock{
    color: white;
    padding: 10px;
    overflow: hidden;
/**background:url('../img/back.jpg') no-repeat center center fixed;
**/
}

.ficheblock img{
    overflow: hidden;
width:250px;
display: block;
    margin-left: 0;
    margin-right: 20px;
}

.ficheblock h1{
text-align:center;
color:#1d2a4f;
}


#infos {
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    color:black;
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
}

#errins{
margin-top:20px;
color:white;
background-color:red;
text-align:center;
font-weight:800;
}

.subname{
color:white;
font-weight:600;
margin-left:20px;
}

.NoVu {
    box-shadow: 1px 1px 22px red;
}

.Vu {
    box-shadow: 1px 1px 22px green;
}

#center{
width:50%;
text-align:center;
margin:0 auto;
}

.labelretour{
color:white;
margin-left:10px;
font-weight:600;
font-size:18px;
margin-top: 80px;
}

.desc{
margin-top:200px;
}

.nom{
color:white;
text-align:center;
}

.reduite{
width:60px;
}

.personne{
text-align:center;
display:inline-block;
width:24%;
min-width:250px;
}